In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import xgboost as xgb
from sklearn.preprocessing import MinMaxScaler, RobustScaler, QuantileTransformer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
import time

In [2]:
import pandas as pd
import sklearn
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.ensemble import BaggingRegressor, GradientBoostingRegressor, RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.pipeline import Pipeline
from sklearn.compose import TransformedTargetRegressor
from scipy import stats
#from sklearn.metrics import roc_curve, roc_auc_score
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, RepeatedKFold, GridSearchCV, cross_val_score

IMPORT TRAINING DATA

In [3]:
data=pd.read_csv(r'trainingdata.csv')
print(data.shape)

(100000, 132)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Columns: 132 entries, row ID to loss
dtypes: float64(15), int64(1), object(116)
memory usage: 100.7+ MB

In [5]:
data.head()

,row ID,s1,s2,s3,s4,s5,s6,s7,s8,s9,...,cat92,cat93,cat94,cat95,cat96,cat97,cat98,cat99,cat100,loss
0,1,LB,O,A,S,AS,C,BC,BU,G,...,A,D,B,C,E,A,C,T,B,3325.946771
1,2,DP,O,A,BM,AV,A,CQ,BI,K,...,A,D,D,C,E,E,D,T,L,2212.393559
2,3,GK,I,A,AF,C,A,DK,AB,A,...,A,D,D,C,E,E,A,D,L,3903.026647
3,4,DJ,O,A,AE,N,C,CS,BI,K,...,A,D,D,C,E,E,D,T,I,2045.297525
4,5,CK,K,A,BM,Y,C,C,H,B,...,H,D,B,D,E,E,A,P,F,3479.835087

## *This is where you will do some preprocessing*

DEFINE X/y

In [4]:
target = "loss"

In [5]:
cleaned_df = data.copy()

row ID    0.000463
f1        0.098165
f2        0.097162
f3       -0.003362
f4        0.016009
f5       -0.009359
f6        0.040334
f7        0.118464
f8        0.027655
f9        0.015664
f10       0.019084
f11      -0.009036
f12       0.141395
f13       0.111427
f14      -0.036355
loss      1.000000
Name: loss, dtype: float64

In [10]:

# for cols in cleaned_df:
#     if cols != 'row ID' and cols != 'loss':
#         vals = cleaned_df[cols].value_counts()
#         vals_singular = vals[vals == 1]
#         for i in vals_singular.index:
#             cleaned_df = cleaned_df.drop(cleaned_df[cleaned_df[cols] == i].index)
        
# cleaned_df

,row ID,s1,s2,s3,s4,s5,s6,s7,s8,s9,...,cat92,cat93,cat94,cat95,cat96,cat97,cat98,cat99,cat100,loss
0,1,LB,O,A,S,AS,C,BC,BU,G,...,A,D,B,C,E,A,C,T,B,3325.946771
1,2,DP,O,A,BM,AV,A,CQ,BI,K,...,A,D,D,C,E,E,D,T,L,2212.393559
2,3,GK,I,A,AF,C,A,DK,AB,A,...,A,D,D,C,E,E,A,D,L,3903.026647
3,4,DJ,O,A,AE,N,C,CS,BI,K,...,A,D,D,C,E,E,D,T,I,2045.297525
4,5,CK,K,A,BM,Y,C,C,H,B,...,H,D,B,D,E,E,A,P,F,3479.835087
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,MG,P,A,J,AD,E,CL,BI,E,...,A,C,D,C,E,G,D,T,O,4660.717696
99996,99997,LO,P,A,Y,AS,A,EB,BI,K,...,H,D,B,C,E,A,D,T,F,3352.398155
99997,99998,HB,K,A,J,E,A,CL,BI,D,...,A,D,D,D,E,A,A,P,I,2952.048273
99998,99999,GC,J,F,X,AN,A,EB,AB,B,...,A,D,B,D,E,A,A,P,A,1769.994777
99999,100000,HJ,R,I,BM,J,A,U,BI,K,...,H,C,B,C,E,C,D,T,F,2077.743445

In [6]:
X=cleaned_df.drop(columns=[target, 'row ID'])
y=cleaned_df[target]

y

0        3325.946771
1        2212.393559
2        3903.026647
3        2045.297525
4        3479.835087
            ...
99995    4660.717696
99996    3352.398155
99997    2952.048273
99998    1769.994777
99999    2077.743445
Name: loss, Length: 100000, dtype: float64

In [7]:
corCheck = X.corr()


# Set a threshold for correlation coefficient
threshold = 0.7

# Drop features that have a correlation coefficient higher than the threshold
to_drop = []
for i in range(len(corCheck.columns)):
    for j in range(i):
        if abs(corCheck.iloc[i, j]) > threshold:
            colname = corCheck.columns[i]
            to_drop.append(colname)
            
X_new = X.drop(to_drop, axis=1)

In [8]:
X_new

,s1,s2,s3,s4,s5,s6,s7,s8,s9,s10,...,cat91,cat92,cat93,cat94,cat95,cat96,cat97,cat98,cat99,cat100
0,LB,O,A,S,AS,C,BC,BU,G,J,...,A,A,D,B,C,E,A,C,T,B
1,DP,O,A,BM,AV,A,CQ,BI,K,K,...,A,A,D,D,C,E,E,D,T,L
2,GK,I,A,AF,C,A,DK,AB,A,F,...,A,A,D,D,C,E,E,A,D,L
3,DJ,O,A,AE,N,C,CS,BI,K,K,...,A,A,D,D,C,E,E,D,T,I
4,CK,K,A,BM,Y,C,C,H,B,G,...,B,H,D,B,D,E,E,A,P,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,MG,P,A,J,AD,E,CL,BI,E,I,...,B,A,C,D,C,E,G,D,T,O
99996,LO,P,A,Y,AS,A,EB,BI,K,K,...,B,H,D,B,C,E,A,D,T,F
99997,HB,K,A,J,E,A,CL,BI,D,F,...,A,A,D,D,D,E,A,A,P,I
99998,GC,J,F,X,AN,A,EB,AB,B,E,...,A,A,D,B,D,E,A,A,P,A
99999,HJ,R,I,BM,J,A,U,BI,K,K,...,B,H,C,B,C,E,C,D,T,F

LABEL ENCODE CATEGORICAL VARIABLES
*(You can also use one-hot encoding)*

In [11]:
#cat_cols = X.select_dtypes(include=['object']).columns
#ohe = OneHotEncoder(drop = 'first').fit(X)
#X = X[cat_cols].apply(lambda x: ohe.fit_transform(X))
#X = ohe.transform(X)
X_new = pd.get_dummies(X_new)#, drop_first = 1)
train = X_new.copy()
#enc = OneHotEncoder(

In [13]:
X_new

,f1,f3,f4,f5,f8,f12,f13,f14,s1_AA,s1_AB,...,cat100_F,cat100_G,cat100_H,cat100_I,cat100_J,cat100_K,cat100_L,cat100_M,cat100_N,cat100_O
0,0.569745,0.822493,0.714843,0.310061,0.30260,0.245921,0.187583,0.789639,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.338312,0.611431,0.304496,0.885834,0.60087,0.737068,0.592681,0.614134,0,0,...,0,0,0,0,0,0,1,0,0,0
2,0.381398,0.195709,0.774425,0.397069,0.27320,0.358319,0.484196,0.236924,0,0,...,0,0,0,0,0,0,1,0,0,0
3,0.327915,0.605077,0.602642,0.422268,0.31796,0.555782,0.527991,0.373816,0,0,...,0,0,0,1,0,0,0,0,0,0
4,0.204687,0.246011,0.432606,0.704268,0.24564,0.159990,0.527991,0.473202,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0.888438,0.846403,0.793236,0.281143,0.38885,0.358319,0.298977,0.275813,0,0,...,0,0,0,0,0,0,0,0,0,1
99996,0.644013,0.862949,0.721447,0.534484,0.64577,0.422197,0.263570,0.623770,0,0,...,1,0,0,0,0,0,0,0,0,0
99997,0.531161,0.304350,0.815292,0.281143,0.36636,0.299102,0.527991,0.432728,0,0,...,0,0,0,1,0,0,0,0,0,0
99998,0.291268,0.287682,0.285859,0.836443,0.53642,0.488789,0.201309,0.833240,0,0,...,0,0,0,0,0,0,0,0,0,0
99999,0.388786,0.678452,0.381369,0.602545,0.49462,0.199504,0.230975,0.432728,0,0,...,1,0,0,0,0,0,0,0,0,0

C:\Users\Asus\AppData\Local\Temp\ipykernel_2496\1266407330.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X['loss'] = y

f1          0.098165
f2          0.097162
f3         -0.003362
f4          0.016009
f5         -0.009359
              ...
cat100_K   -0.026944
cat100_L    0.117194
cat100_M    0.098966
cat100_N   -0.000357
cat100_O    0.029938
Name: loss, Length: 1096, dtype: float64

TRAIN/VALIDATION SPLIT 
*(also called train/test split)*

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X_new,y,test_size = 0.3)

FIT MULTIPLE MODELS TO DECIDE THE BEST ONE 
(*criterion: Least RMSE*)

In [88]:
def fitting_models():
    lr=LinearRegression()
    ls = Lasso(alpha=2)
    rg = Ridge(alpha=8)
    gbr = GradientBoostingRegressor(random_state = 69, n_estimators = 1000)
    #br = BaggingRegressor(n_estimators = 26, random_state = 5)
    
    rgs = [('Linear Regression', lr),
        ('Lasso', ls),
        ('Ridge', rg),
      #  ('Bagging Regressor', br)
        ('GBR', gbr)
              
  ]
    for name,lr in rgs:
        lr.fit(X_train,y_train)
        pred = lr.predict(X_test)
        score = format(r2_score(y_test,pred), '.4f')
        rmse = np.sqrt(mean_squared_error(y_test, pred))
        print("{} : {} , {}".format(name,score,rmse))

In [42]:
def fitting_models_CV2():
    #cv = RepeatedKFold(n_splits=2, n_repeats=1)#, random_state=1)
    
    lr=LinearRegression()
    ls = Lasso(alpha=10.5)
    rg = Ridge(alpha=8)
    gbr = GradientBoostingRegressor(n_estimators = 900, max_depth = 7)# we can specify loss as huber as one of the parameters.
    knr = KNeighborsRegressor(n_neighbors=5)
    pipe_knr = Pipeline([("scaler", MinMaxScaler()), 
                         ("knr", KNeighborsRegressor(n_neighbors=5))])
    rgs = [('Linear Regression', lr),
        #('Lasso Regression', ls),
        #('Gradient Boosting', gbr)
        #('KNearest Neighbor',knr),
        #('Scaled KNearest',pipe_knr)       
    ]
    for name,rg in rgs:
        start = time.perf_counter()
        scores = cross_val_score(TransformedTargetRegressor(regressor = rg, transformer = MinMaxScaler()), X, y, cv=cv, scoring = 'neg_root_mean_squared_error') 
        end = time.perf_counter()        
        score = format(np.mean(scores), '.4f')
        duration = format((end-start),'.4f')
        print("{} : {} - {}".format(name,score,duration))

In [15]:
def fitting_models_CV3():
    
    lr=LinearRegression()
    ls = Lasso(alpha=10.5)
    rg = Ridge(alpha=8)
    gbr = GradientBoostingRegressor(random_state = 420, n_estimators = 300) # we can specify loss as huber as one of the parameters.
    knr = KNeighborsRegressor(n_neighbors=5)
    pipe_knr = Pipeline([("scaler", MinMaxScaler()), 
                         ("knr", KNeighborsRegressor(n_neighbors=5))])
    rgs = [#('Linear Regression', lr),
        #('Lasso Regression', ls),
        ('Gradient Boosting', gbr),   
        #('Ridge', rg)
        #('KNearest Neighbor',knr),
        #('Scaled KNearest',pipe_knr)       
    ]
    for name,rg in rgs:
        #ch = TransformedTargetRegressor(regressor = rg, transformer = MinMaxScaler())
        rg.fit(X_train, y_train)
        pred = rg.predict(X_test)
        score = format(r2_score(y_test,pred), '.4f')
        rmse = np.sqrt(mean_squared_error(y_test, pred))
        print("{} : {} , {}".format(name,score,rmse))

In [18]:
def fitting_gridSearch_CV4():
    param_grid = {
    'n_estimators': [400, 700],
    'max_depth': [7, 5]
    }
    
    gbr = GradientBoostingRegressor() # we can specify loss as huber as one of the parameters.
    #ch = TransformedTargetRegressor(regressor = gbr, transformer = MinMaxScaler())
    grid_search = GridSearchCV(estimator=gbr, param_grid=param_grid, cv=None, n_jobs = 4)
    grid_search.fit(X_train, y_train)
    #pred = ch.predict(X_test)
    #score = format(r2_score(y_test,pred), '.4f')
    #rmse = np.sqrt(mean_squared_error(y_test, pred))
    #print("{} : {} , {}".format(name,score,rmse))
    print("Best parameters: ", grid_search.best_params_)
    print("Best score: ", grid_search.score(X_test, y_test))

In [ ]:
fitting_models()

In [ ]:
fitting_models_CV3()

In [25]:
rg=Ridge(alpha = 8).fit(X, y)

In [132]:
lr = TransformedTargetRegressor(regressor = LinearRegression(), transformer = MinMaxScaler()).fit(X_train,y_train)

In [ ]:
gbr = GradientBoostingRegressor(n_estimators = 300, random_state = 420).fit(X_new,y)

In [78]:
Ngbr = GradientBoostingRegressor(random_state = 69, n_estimators = 200).fit(X_train,y_train)

In [15]:
ttgbr = TransformedTargetRegressor(regressor = GradientBoostingRegressor(random_state = 420, n_estimators = 300), transformer = MinMaxScaler()).fit(X_new, y)

IMPORT TESTING DATA FOR PREDICTIONS

In [16]:
test_data = pd.read_csv(r'testingdata.csv')
print(test_data.shape)

(2001, 131)

TRANSFORM THE TEST DATA SAME WAY AS YOU TRANSFORMED TRAIN DATA

In [17]:
for cols in test_data:
   if cols != 'row ID':
        vals = test_data['s1'].value_counts()
        vals_singular = vals[vals == 1]
        ph = vals[vals == vals.max()].index

        for i in vals_singular.index:
            test_data.loc[test_data[cols] == i, cols] = ph

In [18]:
#cat_cols = test_data.select_dtypes(include=['object']).columns
#le = LabelEncoder()
#test_data = test_data.transform(test_data)
test_data = pd.get_dummies(test_data)
X, test_data = X.align(test_data, join = 'outer', axis = 1, fill_value = 0)
test_data = test_data.reindex(columns=train.columns, fill_value=0)

test_data

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,cat100_F,cat100_G,cat100_H,cat100_I,cat100_J,cat100_K,cat100_L,cat100_M,cat100_N,cat100_O
0,0.307628,0.301921,0.315758,0.799130,0.302678,0.317735,0.338809,0.26847,0.41471,0.43919,...,0,0,0,0,0,0,1,0,0,0
1,0.592525,0.590961,0.701266,0.296406,0.850206,0.668706,0.613736,0.49462,0.45391,0.64056,...,0,0,0,1,0,0,0,0,0,0
2,0.338312,0.366307,0.611431,0.283950,0.874863,0.438917,0.436585,0.60087,0.35127,0.43919,...,0,0,0,1,0,0,0,0,0,0
3,0.341813,0.352251,0.304350,0.359255,0.281143,0.317225,0.285600,0.39455,0.39648,0.32935,...,0,0,0,0,0,0,0,0,0,1
4,0.757468,0.744640,0.812550,0.715966,0.281143,0.746466,0.495687,0.76827,0.93383,0.78770,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1996,0.745820,0.753252,0.717751,0.602705,0.491114,0.767863,0.669049,0.94012,0.64103,0.80218,...,0,1,0,0,0,0,0,0,0,0
1997,0.291268,0.295524,0.333292,0.386555,0.783230,0.373500,0.359439,0.36083,0.44352,0.45017,...,0,0,0,0,0,0,1,0,0,0
1998,0.614915,0.601984,0.660756,0.603605,0.482436,0.558591,0.463328,0.29260,0.38249,0.59869,...,0,1,0,0,0,0,0,0,0,0
1999,0.718299,0.714544,0.611431,0.211047,0.281143,0.679813,0.787006,0.38318,0.41471,0.58796,...,0,0,0,1,0,0,0,0,0,0
2000,0.294499,0.289207,0.608259,0.810592,0.422268,0.419901,0.399267,0.31796,0.32496,0.36974,...,1,0,0,0,0,0,0,0,0,0

In [19]:
test_data = test_data.drop(columns=['row ID'])
test_data

KeyError: "['row ID'] not found in axis"

PICK THE BEST MODEL FOR PREDICTING ON TEST DATA

In [20]:
predictions = ttgbr.predict(test_data)
print(predictions)

[4841.49898416 4684.77827377 3388.93884587 ... 3386.22074347 3469.93647654
 3536.81812729]

FORMAT IT ACCORDING TO SAMPLE.CSV (*shared on kaggle*)

In [21]:
predictions_df=pd.DataFrame(predictions, columns=['loss'])
predictions_df

             loss
0     4841.498984
1     4684.778274
2     3388.938846
3     1884.915107
4     3703.480181
...           ...
1996  6570.249889
1997  2859.827545
1998  3386.220743
1999  3469.936477
2000  3536.818127

[2001 rows x 1 columns]

In [22]:
predictions_df.insert(0, 'row ID', range(100001, 102002))
predictions_df

      row ID         loss
0     100001  4841.498984
1     100002  4684.778274
2     100003  3388.938846
3     100004  1884.915107
4     100005  3703.480181
...      ...          ...
1996  101997  6570.249889
1997  101998  2859.827545
1998  101999  3386.220743
1999  102000  3469.936477
2000  102001  3536.818127

[2001 rows x 2 columns]

EXPORT PREDICTION DATAFRAME IN CSV

In [23]:
predictions_df.to_csv('predictionsTTGBRRowIDMagic.csv', sep=',', index=False)